body{
    background:linear-gradient(aqua,yellow)
}
#prawy 
{
    float: right;
    text-align: center;
    width: 600px;
    height: 600px;\
    
    margin-top: -200px;
}
.obrazek{
    height: 150px;
    width: 150px;
    
}
#baner{
    text-align: center;
}
#lewy {
   

}